<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RepRapOnRails</title>
    <meta name="description" content="RepRapOnRails">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= yield(:stylesheets) if content_for?(:stylesheets) %>     
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= content_for?(:application) ? yield(:application) : yield %>
  </body>
</html>