<!DOCTYPE html>
<html ng-app="touchApp">
  <head>
    <title>RepRapOnRails</title>
    <meta name="description" content="RepRapOnRails">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "touchapp", :media => "all" %>    
    <%= javascript_include_tag "application" %>   
    <%= csrf_meta_tags %>
  </head>
  <body>

    <script type="text/javascript">
      var WEBSOCKET_URL = "<%= request.host_with_port %>/websocket"
    </script>
    
    <%= javascript_include_tag "touchapp" %>   
    
    <!-- Status header
    ================================================== -->  
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="HeaderController">
      <div class="jumbotron header-background">
        <h1>     
           
          <span class="pull-right">
            <button type="button" class="btn btn-warning btn-lg {{ (( print.state == 2 ) || (print.state == 3) || (print.state == 5)) && 'disabled' }}"  ng-click="shutdown()" style="margin-top:-40px;margin-left:30px;height:80px;width:80px;">
              <i class="fa fa-power-off fa-2x"></i>
            </button>      
          </span>        
          <span class="pull-right">
            <button type="button" class="btn btn-danger btn-lg"  ng-click="emergencyStop()" style="margin-top:-40px;height:80px;width:140px;">Emergency<br/>STOP</button>      
          </span>              
          <span ng-switch on="print.state">
            <span ng-switch-when="0">Offline</span>
            <span ng-switch-when="1">Idle</span>
            <span ng-switch-when="2">Printing</span>
            <span ng-switch-when="3">Paused</span>            
            <span ng-switch-when="4">Emergency Stop!</span>            
            <span ng-switch-when="5">Preheating</span>
          </span>
        </h1>
        <div class="row">
          <div class="col-md-8"><p><span ng-show="print.job.length">"{{ print.job }}"</span>&nbsp;</p></div>    
          <div class="col-md-4"><p class="pull-right">{{ time_remaining }}</p></div>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%">
            <span class="sr-only">{{ progress }}% complete</span>
          </div>
        </div>

        <button type="button" class="btn {{ menuDisabled && 'disabled' }} {{tab == 'queue' && 'btn-default' || 'btn-primary'}} btn-lg navigation"  ng-click="go('queue')">
          Print
        </button>
        <button type="button" class="btn {{ menuDisabled && 'disabled' }} {{tab == 'configuration' && 'btn-default' || 'btn-primary'}} btn-lg navigation" ng-click="go('configuration')">
          Configuration
        </button>  
        <button type="button" class="btn {{ menuDisabled && 'disabled' }} {{tab == 'setup' && 'btn-default' || 'btn-primary'}} btn-lg navigation" ng-click="go('setup')">
          Setup
        </button>          
        <button type="button" class="btn {{ menuDisabled && 'disabled' }} {{tab == 'manualcontrol' && 'btn-default' || 'btn-primary'}} btn-lg navigation" ng-click="go('manualcontrol')">
          Expert Control
        </button> 
        <button type="button" class="btn {{ menuDisabled && 'disabled' }} {{tab == 'log' && 'btn-default' || 'btn-primary'}} btn-lg navigation"  ng-click="go('log')">
          Log
        </button>              
        <div class="pull-right">
          <button type="button" class="btn btn-warning btn-lg" ng-show="( print.state == 2 ) || ( print.state == 5 )" ng-click="pauseprint()">Pause Print</button>                
          <button type="button" class="btn btn-warning btn-lg" ng-show="print.state == 3" ng-click="resumeprint()">Resume Print</button>                          
          <button type="button" class="btn btn-danger btn-lg" ng-show="( print.state == 2 ) || ( print.state == 3 ) || ( print.state == 5 )" ng-click="abortprint()">Abort Print</button>      
        </div>

   
      </div>
    </nav>    
    
    
    <!-- Content
    ================================================== -->    
    <div class="container" id="content">      
      <ng-view></ng-view>
    </div>

    <!-- Footer (Temperature Status)
    ================================================== -->    
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" ng-controller="FooterController">
      <div class="navbar-collapse collapse">    
        <ul class="nav navbar-nav">
          <li>
            <p class="navbar-text">
              <b>Left Extruder:</b> <span class="{{ ( temp.left_extruder.target > 0 ) && 'text-danger' }}">{{ temp.left_extruder.temp | number:2 }} / {{ temp.left_extruder.target | number:0 }}</span>
              <br/>
              <small ng-show="filaments.left">{{ filaments.left.name | limitTo:40 }}</small>
              <small ng-show="!filaments.left" class="text-muted">No material loaded</small>
            </p>
          </li>
          <li>
            <p class="navbar-text">
              <b>Right Extruder:</b> <span class="{{ ( temp.right_extruder.target > 0 ) && 'text-danger' }}">{{ temp.right_extruder.temp | number:2 }} / {{ temp.right_extruder.target | number:0 }}</span>
              <br/>
              <small ng-show="filaments.right">{{ filaments.right.name | limitTo:40 }}</small>
              <small ng-show="!filaments.right" class="text-muted">No material loaded</small>
            </p>
          </li>
          <li>
            <p class="navbar-text">
              <b>Chamber:</b> <span class="{{ ( temp.chamber.target > 0 ) && 'text-danger' }}">{{ temp.chamber.temp | number:2 }} / {{ temp.chamber.target | number:0 }}</span>
              <br/>
              <small ng-show="preheatingProfile">{{ preheatingProfile.name | limitTo:40 }}</small>
              <small ng-show="!preheatingProfile" class="text-muted">No Preheating Profile selected</small>
            </p>
          </li>
          <li>
            <p class="navbar-text">
              <b>Bed:</b> <span class="{{ ( temp.bed.target > 0 ) && 'text-danger' }}">{{ temp.bed.temp | number:2 }} / {{ temp.bed.target | number:0 }}</span>
              <br/>
            </p>
          </li>          
          <li><p class="navbar-text ">
            <span class="text-muted">Current / Target °C</span><br/>
            <small class="text-muted">Profile</small></p>
          </li>          
        </ul>
      </div>
    </nav>



    <!-- Lock Screen Overlay
    ================================================== -->
    <div ng-controller="LockscreenController">
    <div class="lock" ng-show="lockscreen.locked"></div>
    <div class="lockbutton" ng-show="lockscreen.locked">
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <center>
      <button type="button" class="btn btn-info btn-lg navigation">
          <i class="icon-lock"></i> Screen Locked
      </button>       
    </center>
    </div>

  </body>
</html>